* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
}

input {
    padding: 5px 10px;
    background-color: #171446;
    color: #00CC00;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 15px 10px 0;
}

input:last-child {
    margin: 0;
}

#result {
    width: 400px;
    padding: 10px;
    background-color: #aaaaaa;
    border: 1px solid black;
    border-radius: 5px;
}